@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*border-2 py-8 px-16 rounded-xl text-2xl text-white font-bold hover:bg-white hover:text-black*/
@layer components {
  .button {
    padding: theme(padding.4);
    color: theme(colors.white);
    border-radius: theme(borderRadius.2xl);
  }

  .button-nav {
    font-size: theme(fontSize.2xl);
    font-weight: theme(fontWeight.bold);
    border-width: theme(borderWidth.2);
  }

  .button-action {
    font-size: theme(fontSize.lg);
    font-weight: theme(fontWeight.bold);
    background-color: theme(colors.blue);
  }

  .button-hover {
    color: theme(colors.black);
    background-color: theme(colors.white);
  }

  .form-control {
    display: grid;
    justify-items: stretch;
    align-content: start;
    gap: theme(gap.2);
  }

  .form-control label {
    color: theme(colors.white);
    font-weight: theme(fontWeight.bold);
  }

  .form-control input {
    padding: theme(padding.3);
    border-radius: theme(borderRadius.xl);
  }

  .form-control select {
    padding: theme(padding.3);
    border-radius: theme(borderRadius.xl);
  }

}
