@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*border-2 py-8 px-16 rounded-xl text-2xl text-white font-bold hover:bg-white hover:text-black*/
@layer components {
  .button {
    font-size: theme(fontSize.2xl);
    font-weight: theme(fontWeight.bold);
    color: theme(colors.white);
    border-width: theme(borderWidth.2);
    border-radius: theme(borderRadius.xl);
    padding-left: theme(padding.16);
    padding-right: theme(padding.16);
    padding-top: theme(padding.6);
    padding-bottom: theme(padding.6);
    width: theme(width.64);
  }

  .button-hover {
    color: theme(colors.black);
    background-color: theme(colors.white);
  }
}
